html,body,#root,#cesiumContainer,.wrapper{
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#cesiumContainer{
  position: relative;
  left: 0;
  top: 0;
}

.draw-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 200px;
  height: 200px;
  background: pink;
}

.draw-wrapper button:last-child{
  margin-left: 20px;
}